html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e0e0e0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
}

.bar {
    display: flex;
    gap: 1rem
}